/*contact form*/
#contact-form .form-group{
    padding-bottom: 20px;
}

#contact-form label{
    display: block;
    margin-bottom: 5px;
}

#contact-form input ,
 #contact-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
 }

 #contact-form input:focus ,
 #contact-form textarea:focus{
    outline: none;
    border-color: #f7c08a;
 }
