/* sliding_pics */
.slider-frame{
    overflow: hidden;
    height:600px ;
    width: 1200px;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 50px;

}

/* slide Animation */
@-webkit-keyframes slide_animation{
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}

}

.slide-images{
    width: 3600px;
    height: 600px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

}

.img-container{
    height: 600px;
    width: 1200px;
    position: relative;
    float: left;
}

